.bg-slate {
    background-color: #F3F3F3;
}

.ps-5 {
    padding-left: 2.5rem !important;
}

.ps-6 {
    padding-left: 4rem !important;
}

.fs-xl {
    font-size: 3.5rem !important;
}

.disabled {
    color: #f2fcffbf !important;
}

.fs-6 {
    font-size: 1.1rem !important;
}

.form-check-input {
    border: 1px solid #798285bf !important;
}

.form-check-input:checked {
    background-color: #232830 !important;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext {
    padding: 0rem 0.75rem;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
    height: calc(3.1rem + 2px);
    min-height: calc(3.1rem + 2px);
    line-height: 1;
}

.form-floating>label {
    padding: 0.75rem 0.75rem;
}